body{

margin:0;

font-family:'Orbitron',sans-serif;

background:#111;

color:white;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.dashboard{

max-width:420px;

width:90%;

text-align:center;

background:#1e1e1e;

padding:25px;

border-radius:20px;

box-shadow:0 10px 40px rgba(0,0,0,0.6);

}

.clock{

font-size:50px;

margin:20px 0;

}

.card{

background:#2a2a2a;

margin:15px 0;

padding:15px;

border-radius:10px;

}

input{

padding:8px;

border:none;

border-radius:5px;

margin-top:5px;

}

button{

padding:8px 15px;

margin-top:10px;

border:none;

border-radius:5px;

cursor:pointer;

background:#6c63ff;

color:white;

}

button:hover{

background:#5148d9;

}

.dark{

background:#f4f4f4;

color:black;

}

.dark .dashboard{

background:white;

}

.dark .card{

background:#e5e5e5;

}